.container{
  padding: 15px;
  margin: 0 auto;
}
.reader-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link{
  color: grey;
  cursor: pointer;
  &:hover{
    color: black;
  }
}
.news-link{
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.time{
  font-style: italic;
  color: lightgrey;
  font-size: 12px;
  margin-right: 20px;
}
.news{
  img{
    width: 50%;
    height: 50%;
  }
}
