<div class="container">
  <form class="reader-form">
    <mat-form-field class="example-full-width">
      <mat-label>Type link</mat-label>
      <input matInput placeholder="Input link" #link>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="readLink(link.value)">Read link</button>
  <div class="container">
    <div class="title">
      <img src="{{(rssData | async)?.image.url}}" alt="{{(rssData | async)?.image.title}}"
        width="{{(rssData | async)?.image.width}}" height="{{(rssData | async)?.image.height}}">
      <h1>{{(rssData | async)?.title}}</h1>
    </div>
    <div class="container" *ngFor="let item of newsArray | async">
      <div class="news">
        <h2 class="description">{{item.title}}</h2>
        <div>
          <a class="link" href="{{item.link}}">{{item.link}}</a>
        </div>
        <span class="time">{{item.pubDate}}</span>
        <br>
        <br>
        <br>
        <img *ngIf="item" src="{{item.enclosure['@attributes'].url}}" alt="">
    </div>
  </div>
</div>
